.estado {
    background-color: $color-blanco;
    padding: $espaciado;
    margin: $espaciado auto;
    max-width: 800px;
    border-radius: $border-radius;
    box-shadow: $sombra-suave;
  
    &__grid {
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
      flex-wrap: wrap;
      gap: 1rem;
  
      @include respond-to(phone) {
        flex-direction: column;
        align-items: center;
      }
    }
  
    &__card {
      background-color: $color-primario;
      color: $color-blanco;
      padding: 0.4rem 0.8rem;
      min-width: 200px;
      border-radius: $border-radius;
      text-align: center;
      font-weight: bold;
      flex: 1 1 auto;
      font-size: 1rem;
      line-height: 1.4;
  
      @include flex-center;
    }
  }
  